@charset "UTF-8";

@font-face {
    src : url("BMJUA_ttf.ttf");
    font-family: "jua";
    font-weight: normal;
    font-style: normal;
}
.admin-wrap {
    margin: 0 auto;
    width: 100vw;
    min-width: 1200px;
    max-width: 1920px;
    height: 70vh;
    min-height:800px;
    max-height:1080px;
    border-radius: 20px;
    background-color: transparent;
    font-family: "jua";
    display: flex;
    margin-top: min(10vw,100px);
}

.admin-menu {
    width: 20%;
    text-align: center;
    height: 100%;
    background-color: #cccccc;
    display: inline-block;
    float: left;
}

.menuBox {
	width:100%;
    height: 60%;
    margin: 0 auto;
    margin-top: 20%;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.profile-title {
    font-size: 4em;
    font-weight: bold;
    color: #56373c;
}

.menu li>a {
    display: block;
    height: auto;
    font-size: 2em;
    color: #391e22;
    text-decoration: none;
}

.menu>li {
    text-align: center;
}

.admin-content {
    width: 80%;
    float: left;
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-top: min(10%, 100px);
}

.real-content {
    display: inline-block;
    width: 90%;
    margin-left:min(5%,100px);
}

.title {
    text-align: left;
    font-size: 2.5em;
}

.table th{
    font-size: 1em;
    text-align: center;
    min-width: 80px;
}
.table td{
    font-size: 1.2em;
    text-align: center;
}
#pageNavi>*{
    text-align: center;
    margin: max(20px,1%);
    font-size: 2em;
}
.selectPage{
    color : #5f7880;
    font-weight: bold;
}