@charset "UTF-8";

body {
	margin: 0;
}

header {
	margin-bottom: 30px;
}

#op_navi * {
	font-family: 'Russo One';
}

#op_navi {
	z-index: 10;
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: #1d0e0e;
	box-sizing: border-box;
}

#op_navi a {
	text-decoration: none;
	color: white;
}

#op_navi a>img {
	height: 40px;
	width: 50px;
}

#header_img {
	width: 100%;
	height: 300px;
	box-shadow: 5px -5px 30px 10px black inset;
	position: relative;
	background-image: url('/resources/upload/operator/op_header_img.png');
	background-size: cover;
	text-align: center;
}

#header_img>div {
	width: 100px;
	height: 100px;
	color: white;
	margin: 0 auto;
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 50px;
}

#header_menu {
	margin: 0px;
	padding: 0;
}

#header_menu li {
	display: inline-block;
	box-sizing: border-box;
	height: 50px;
	width: 100px;
	line-height: 50px;
	float: left;
	list-style: none;
	text-align: center;
}

#header_menu li:hover {
	border-bottom: 5px solid #FA9B00;
}
@media (max-width:1000px){
	body{
		min-width:1000px;
	}
	header{
		min-width:1000px;
	}
}