@charset "UTF-8";

* {
	font-family: 'Noto Sans KR';
}
section{
	width:80%;
	margin:0 auto;
}
.content{
	width:80%;
}
input[type=text]{
	width:80%;
}
.title {
	font-weight: bold;
	font-family: 'Noto Sans KR';
}
th{
	width:200px;
}
label{
	width:20%;
	display:inline-block;
}
.img-wrapper {
	border: none;
	overflow: hidden;
	border:1px solid #ccc;
}
#mainImg-container{
	width:280px;
	height: 200px;
}
.infoImg{
	width:30%;height:150px;float:left;padding:2px;border:none;
}
.comment{
	padding-left:10px;
	width:15%;
	color:#FA9B00;
	text-align:center;
	font-size: 15px;
}
.img-wrapper >img{
	width:100%;
	height: 100%;
}
[name=campShow]{
	width:100%;
	height: 150px;
	resize: none;
}
@media ( max-width : 1000px) {
	body {
		width: 1000px;
	}
}