@charset "UTF-8";
		section {
            overflow: hidden;
            width: 80%;
            margin: 0 auto;
        }

        section>div{
            overflow: hidden;
        }
        .content {
            margin-top: 20px;
            width: 80%;
            float: left;
            box-sizing: border-box;
        }
         #menu{
            float: left;
            width:20%;
        }
        #menu>ul{
            margin: 0;
            margin-top: 20px;
            padding: 0;
            overflow: hidden;
            border-bottom: none;
        }
        #menu a{
            text-decoration: none;
            
        }
        #menu li{
            text-align: center;
            list-style: none;
            height: 50px;
            border-bottom: 1px solid black;
            line-height: 60px;
            box-sizing: border-box;
        } 
        #menu li:hover{
            border-bottom: 4px solid black;
        }