@charset "UTF-8";

* {
	font-family: 'Noto Sans KR';
}

.mypage-header {
	width: 82%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

.mypage-header>p {
	margin: 0;
	padding: 0;
}

.mypage-title {
	font-size: 30px;
	font-weight: bolder;
	color: #f49b00;
}

.mypage-subtitle {
	color: dimgray;
}

.mypage-subtitle>span {
	font-weight: bolder;
	color: black;
}

/*--------------------------------*/
.mypage-menu {
	width: 97%;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 60px;
}

.menu-img {
	width: 80px;
	height: 80px;
	text-align: center;
	float: left;
	margin-left: 33px;
}

#menu-img-a {
	text-decoration: none;
	color: black;
	font-size: 55px;
}

.menu-text {
	text-align: center;
	float: left;
	width: 65px;
	margin-top: 25px;
}

.num {
	color: #f49b00;
}

/*--------------------------------*/
.mypage-table {
	margin: 0 auto;
	box-sizing: border-box;
}

/*표 첫번째 열*/
.mypage-table>tbody>tr>td:first-child {
	width: 160px;
	height: 50px;
}

/*표 두번째 열*/
.mypage-table>tbody>tr>td:last-child {
	width: 320px;
}

/*input 태그*/
.mypage-input {
	width: 100%;
	height: 38px;
	outline: none;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding-left: 10px;
}

input[name='memberId'], input[name='memberName'], input[name='memberRegDate']
	{
	background-color: #cccccc;
}

.update-btn-td {
	text-align: center;
	padding: 50px;
	padding-bottom: 80px;
}

/*수정하기 버튼*/
input[type='submit'] {
	width: 220px;
	height: 50px;
	border-radius: 5px;
	outline: none;
	border: none;
	background-color: #383a3f;
	color: white;
	font-size: 1em;
}

.delete>a {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

.delete>a:hover {
	text-decoration: none;
	color: #f49b00;
	font-weight: bolder;
}

/*--------------------------------*/
.data-table {
	margin: 0 auto;
	width: 750px;
	font-size: 14px;
}

.data-table>thead>tr>th {
	text-align: center;
}

.data-table>tbody>tr>td {
	text-align: center;
}

.data-table>thead>tr {
	background-color: #d3d3d3;
}

/*-----------------------------------*/
#state {
	color: #f49b00;
}

#point>i {
	color: #ffd56b;
}

/*표 숨기기--------------------------*/
.select {
	display: none;
}