<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null 값이 발생하는 경우 빈칸이 아닌 null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!-- 원래는 DB접속정보를 넣었지만 여긴 안넣어도됨 <environments default=""> <environment id=""></environment> 
		</environments> -->
	<!-- mappper위치등록도 했었지만 여기서는 안해도됨 -->
	<typeAliases>
		<!-- 태민 추가 -->
		<typeAlias type="com.kh.reserve.model.vo.ReserveVO" alias="reserve" />
		<typeAlias type="com.kh.camp.model.vo.CampVO" alias="camp" />
		<typeAlias type="com.kh.camp.model.vo.CampPictureVo" alias="campPicture" />
		<typeAlias type="com.kh.camp.model.vo.SiteVO" alias="site" />
		
		<!-- 보경 추가 -->
		<typeAlias type="com.kh.member.model.vo.MemberVO" alias="member" />
		<typeAlias type="com.kh.review.model.vo.ReviewVO" alias="review" />
		
		<typeAlias type="com.kh.review.model.vo.ReviewCampVO" alias="reviewCamp" />
		<typeAlias type="com.kh.reserve.model.vo.ReserveCampVO" alias="reserveCamp" />
		
		<typeAlias type="com.kh.review.model.vo.ReviewCommentVO" alias="reviewComment" />
		<typeAlias type="com.kh.review.model.vo.ReviewFileVO" alias="reviewFile" />
		
		<!-- 진현 추가-->
		<typeAlias type="com.kh.camp.used.vo.UsedVO" alias="used" />
		<typeAlias type="com.kh.camp.used.vo.UsedFileVO" alias="file" />
		<typeAlias type="com.kh.camp.used.vo.UsedCommentVO" alias="comment" />

		<!-- 현식 추가 -->
		<typeAlias type="com.kh.admin.model.vo.MemberVOPageData" alias="mpd"/>
		
		<!-- 가영 추가 -->
		<typeAlias type="com.kh.operator.model.vo.CampNoticeVO" alias="cNotice"/>

	</typeAliases>
</configuration>
