<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원관리 페이지</title>
</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.js"></script>
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../../css/admin/admin.css">
<script>
    $(function() {
        $(".menu li>a").hover(function() {
            $(this).parent().css('background-color', '#d0b0b1');
        }, function() {
            $(this).parent().css('background-color', '#9f807d');
        });
    });
</script>
<body>
    <div class="admin-wrap">
        <!--화면 좌측-->
        <div class="admin-menu">
            <div class="div1"></div>
            <div class="menuBox">
                <img class="circle profile" src="img/admin.svg" width="100px;">
                <div class="profile-title">
                    admin
                </div><br><br>
                <ul class="menu">
                    <li>
                        <a href="/">
                            회원관리
                        </a>
                    </li>
                    <li>
                        <a href="/adminMembers?reqPage=1">
                            사업자관리
                        </a>
                    </li>
                    <li>
                        <a href="/reservationAllSearch?reqPage=1">
                            예약관리
                        </a>
                    </li>
                    <li>
                        <a href="/adminQna?reqPage=1">
                            매출관리
                        </a>
                    </li>
                    <li>
                        <a href="/adminQna?reqPage=1">
                            우수캠핑장선정
                        </a>
                    </li>
                    <li>
                        <a href="/adminQna?reqPage=1">
                            고객센터
                        </a>
                    </li>
                </ul>
            </div>
            <div class="div1"></div>
        </div>
        <!--화면 우측-->
        <div class="admin-content">
            <div class="div2"></div>
            <div class="real-content">
                <div class="members">
                    <p class="title"> 전체사용자정보 </p>
                   
                    <table class="table table-hover">
                        <tr>
                            <th class="th-short">회원ID</th>
                            <th class="th-short">회원이름</th>
                            <th class="th-long">회원주소</th>
                            <th class="th-long">회원메일</th>
                            <th class="th-short">생년월일</th>
                            <th class="th-short">성별</th>
                            <th class="th-long">전화번호</th>
                        </tr>
                        <!--%for(Member m : list){%>
                        	<tr>
	                        	<td><%=m.getMemberId() %></td>
	                        	<td><%=m.getMemberName() %></td>
	                        	<td><%=m.getAddress() %></td>
	                        	<td><%=m.getEmail() %></td>
	                        	<td><%=m.getBirth() %></td>
	                        	<td><%=m.getBirth() %></td>
	                        	<td><%=m.getPhone() %></td>
                        	</tr>
                        <%} %-->
                    </table>
                    <div id= "pageNavi"><!--<%=pageNavi %--></div>
                </div>
            </div>
            <div class="div2"></div>
        </div>

    </div> 
</body>
</html>