@charset "UTF-8";

.content {
	display: flex;
	justify-content: center;
}

.items {
	width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item {
	width: 100%;
}

.carousel-inner img {
	width: 100%;
}

/* 상세보기*/
ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.nav-chevron::before {
	right: 10px;
	transform: rotate(45deg);
}

.nav-chevron::after {
	right: 4px;
	transform: rotate(135deg);
}

.nav-chevron {
	padding: 0;
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	border: none;
	outline: none;
	background-color: transparent;
}

.nav-chevron:before, .nav-chevron:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 2px;
	z-index: 3;
	background-color: black;
}

.transform {
	transform: rotate(180deg);
}
.fc-center {
	float: right
}

.fc-right {
	display: none
}

.fc-left button:first-child {
	display: none
}